<!DOCTYPE html>
<html>
<head>
    <title>Админка</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{% include 'main/header.html' %}
<div class="container">
    <h2>Список Пользователей</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>id</th>
                <th>Имя</th>
                <th>Телефон</th>
                <th>Email</th>
                <th>Тип пользователя</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.get_type_user_display }}
                <form method="post" action="{% url 'ch_type' user.id %}">
                    <select id="typee" class="form-control" name="typee">
                        <option value="user">Пользователь</option>
                        <option value="manager">Менеджер</option>
                        <option value="admin">Админ</option>

                    </select>
                    <button type="submit" class="btn btn-primary">Сменить тип пользователя</button>
                </form>
                </td>

                <td>
                    <form method="post" action="{% url 'user_profile' user.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Профиль пользователя</button>
                    </form>
                    <br>
                    <form method="post" action="{% url 'user_profile' 'user.email' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">удалить пользователя</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>