  <style>
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1}

  .dropdown:hover .dropdown-content {
    display: block;
  }
</style>
  <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 link-secondary">Главная</a></li>
            <div class="dropdown">
                <a  class="nav-link px-2 link-body-emphasis">Авторы</a>
                <div class="dropdown-content">
                  <a href="/autor">Список авторов</a>
                  <a href="/create_autor">Добавить автора</a>
                </div>
          </div>

          
            <div class="dropdown">
                <a  class="nav-link px-2 link-body-emphasis">Документы</a>
                <div class="dropdown-content">
                  <a href="/doc_sorpbd/">Свидетельство о регистрации программы базы данных</a>
                  <a href="/list_SoftwareRegistrationCertificate/">Свидетельство о регистрации программы для ЭВМ</a>
                  <a href="#">Журнал</a>
                  <a href="#">Диссертация</a>
                  <a href="#">Автореферат диссертации</a>

                </div>
          </div>
            <div class="dropdown">
                <a  class="nav-link px-2 link-body-emphasis">Правообладатели</a>
                <div class="dropdown-content">
                  <a href="/pravo">Список правообладателей</a>
                  <a href="/add_pravo/">Добавить правообладателей</a>
   

                </div>
          </div>

        </ul>



        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>



        </div>
      </div>
    </div>
  </header>
