<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
    <!-- Подключение Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Вход</h2>
        <form method="post">
            {% csrf_token %}
             {{er}}
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>

            <a href="/registrate">зарегистрироваться</a>
        </form>
    </div>
</body>
</html>
