<!DOCTYPE html>
<html>
<head>
    <title>Регистрация ПО - {{ software.name_doc }}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{% include 'main/header.html' %}
<div class="container">
    <h2>Информация о регистрации ПО</h2>
    <table class="table">
        <tbody>
            <tr>
                <th>ID:</th>
                <td>{{ software.id }}</td>
            </tr>
            <tr>
                <th>Номер свидетельства:</th>
                <td>{{ software.certificate_number }}</td>
            </tr>
            <tr>
                <th>Название ПО:</th>
                <td>{{ software.software_name }}</td>
            </tr>
            <tr>
                <th>Номер заявки:</th>
                <td>{{ software.request_number }}</td>
            </tr>
            <tr>
                <th>Дата заявки:</th>
                <td>{{ software.request_date }}</td>
            </tr>
            <tr>
                <th>Дата регистрации:</th>
                <td>{{ software.registration_date }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <h2>Авторы ПО</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>

            </tr>
        </thead>
        <tbody>
            {% for author in software.authors.all %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.first_name }}</td>
                <td>{{ author.name }}</td>
                <td>{{ author.first_name }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container">
    <h2>Индивидуальные владельцы</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Фамилия</th>
            </tr>
        </thead>
        <tbody>
            {% for owner in software.individual_owners.all %}
            <tr>
                <td>{{ owner.id }}</td>
                <td>{{ owner.name }}</td>
                <td>{{ owner.last_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container">
    <h2>Организационные владельцы</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название организации</th>
            </tr>
        </thead>
        <tbody>
            {% for owner in software.organization_owners.all %}
            <tr>
                <td>{{ owner.id }}</td>
                <td>{{ owner.organization_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container">
    <!-- Кнопки экспорта -->
    <button class="btn btn-primary" onclick="exportToJson()">Экспорт в JSON</button>
    <button class="btn btn-primary" onclick="exportToTxt()">Экспорт в TXT</button>
</div>


<script type="text/javascript">
function exportToJson() {

    var data = {
        'ID': '{{ software.id }}',
        'Номер свидетельства': '{{ software.certificate_number }}',
       
    };
    var jsonData = JSON.stringify(data);
    download(jsonData, 'software_data.json', 'text/plain');
}

function exportToTxt() {
   
    var txtData = 'Программа: ' + '{{ software.software_name }}' + '\nсвидетельство о государственной регистрации программы для ЭВМ  ' + '{{ software.certificate_number }}' + ' / ' + '{{ software.authors.all }}' + ' ;\nправообладатель ' + '{{ software.organization_owners.all }}' + '. – № ' + '{{ software.request_number }}' + '; заявл. ' + '{{ software.request_date }}' + ';\nзарегистрировано в Реестре программ для ЭВМ ' + '{{ software.registration_date }}' + '.';

    download(txtData, 'software_data.txt', 'text/plain');
}

function download(content, fileName, contentType) {
   
    var a = document.createElement("a");
    var file = new Blob([content], {type: contentType});
    a.href = URL.createObjectURL(file);
    a.download = fileName;
    a.click();
}    
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
